<!DOCTYPE html>
<html lang=" en">
    <head>
        <meta charset="UFT-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/28ea6628ce.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="main-header">
            <img src="/images/logo-mercado-liebre.svg" class="logo-mercado-liebre">
            <input type="text" name="q" placeholder="Buscar productos, marcas"> <i class="fa-solid fa-magnifying-glass"></i>
            <nav>
            <p class=" texto"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <!-- hola mundo -->
            <ul>
                <li>Creá tu cuenta<i class="fa-solid fa-id-card"></i></li>
                <li>Ingresá<i class="fa-solid fa-right-to-bracket"></i></li>
                <li>Mis Compras<i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i></div>
        </header>
         <main>
            <section class="ultima-visita">
                <h1 class="titulares">Basado en tu última visita</h1>
                <div class="productos">
                    <div class="producto">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                        <p class="precio">$6770 </p>
                        <p class="descuento">40%OFF</p>
                        <p class="nombre">Cafetera Moulinex</p>
                    </div>
                    <div class="producto">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20%OFF</p>
                        <p class="nombre">MacBook Pro 2019</p>
                    </div>
                    <div class="producto">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsungGalaxy">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10%OFF</p>
                        <p class="nombre">Samsung Galaxy S10</p>
                    </div>
                    <div class="producto">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="tvSmart">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5%OFF</p>
                        <p class="nombre">SmartTV Samsung 43"</p>
                    </div>
                </div>
            </section>
            <section class="ofertas">
                <h1 class="titulares">Sección de Ofertas</h1>
                <div class="productos">
                    <div class="producto">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                        <p class="precio">$6770</p>
                        <p class="descuento">40%OFF</p>
                        <p class="nombre">Cafetera Moulinex</p>
                    </div>
                    <div class="producto">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20%OFF</p>
                        <p class="nombre">MacBook Pro 2019</p>
                    </div>
                    <div class="producto">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsungGalaxy">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10%OFF</p>
                        <p class="nombre">Samsung Galaxy S10</p>
                    </div>
                    <div class="producto">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="tvSmart">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5%OFF</p>
                        <p class="nombre">SmartTV Samsung 43"</p>
                    </div>
                </div>

            </section>
         </main>
    </body>
    <footer>
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <p class="titulares">Pagá con tarjeta o en efectivo</p>
            <p class=" texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <p class="titulares">Envío gratis desde $ 2.500</p>
            <p class=" texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <p class="titulares">Seguridad, de principio a fin</p>
            <p class=" texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p class=" texto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</html>